<html>
<head>

</head>
<body>
	<a href='/logout?ref={{topicName}}'>logout</a>
	<a href='/{{topicName}}'>view</a>
	<a href='/_edit/{{topicName}}'>edit</a>
	<hr>
	{{topicName}}
	{% for version in versions %}
    <div>
        {{version.created}} | {{version.snippet}} | 
        <!-- create the view link from the topicName -->
        <a href="/{{topicName}}?ver={{version.ver}}">view</a> | 
        <!-- create an edit link from the topicName -->
        <a href="/_edit/{{topicName}}?ver={{version.ver}}">edit</a>
    </div>
    {% endfor %}
</body>
</html>